:root {
    --color-black: #212121;
    --color-white: #ffffff;
    --color-grey-dark: #747474;    
    --color-grey-light: #D9D9D9;
    --color-purple: #7F4B93;
    --color-purple-light: #B884CB;
    --color-blue: #498193;
    --color-blue-light: #84BACB;
    --color-background: #ffffff;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--color-background);
    color: var(--color-black);
    font-weight: 400;
    margin: 0;
}

header {
    position: fixed;
    background-color: var(--color-background);
    width: 100%;
    height: 70px;
    margin-top: 0%;
    align-content: center;
    color: var(--color-purple);
}

main {
    padding-top: 70px;
}

a {
    text-decoration: none;
    color: var(--color-purple);
    transition: font-weight 0.4s ease-in-out;
}

button {
    background-color: var(--color-background);
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
}   

nav {
    position:static;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 21px;
    margin-right: 21px;
    font-size: 20px;
    color: var(--color-white);
    min-width: min-content;
}



h1 {
    font-size: 40px;
    font-weight: 400;    
}

h2 {
    font-size: 40px;
    font-weight: 400;
}


h1,h2,h3,p {
    margin: 0px;
}

section, .main {
    margin-bottom: 70px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 35px;
}

nav a:focus {
    color: var(--color-purple);
    font-weight: 600;
}

nav .active, nav a:hover {
    font-weight: 600;
}

.nav-main, .nav-first, .nav-second {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: visible;
    position: static;
}
.nav-logo {
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: xxx-large;
    color: var(--color-purple);
}

.nav-logo>a, .nav-first>a {
    padding-right: 35px;
}

.nav-second>a {
    padding-right: 20px;
}

.main-container, .section-cont {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin: 0px;
}

.main-container {
    margin-top: 49px;
}

.section-cont {
    font-size: 20px;
    font-weight: 400;  
}


.text-to-arrow {
    font-family: "Montserrat", sans-serif;
    color: var(--color-grey-dark);
    font-weight: 400;
    font-size: 20px;
    padding-right: 7px;
    margin: 0px;
}

.cards-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: flex-start;
    overflow: hidden;
    margin-left: -28px;
    margin-right: -28px;
    padding: 28px;
}

.card-container {
    width: 346px;
    height: 525px;
    border-radius: 20px;
    box-shadow: 0px 0px 21px 6px rgba(116,116,116,0.1);
    margin-left: 10px;
    margin-right: 10px;
    color: var(--color-black);
    transition: box-shadow 0.4s ease-in-out;
}

.card-container:hover {
    box-shadow: 0px 0px 21px 6px rgba(73, 129, 147, 0.3);
    color: var(--color-black);
}

.card-img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 364px;
    object-fit: cover;
}

.card {
    margin: 14px;
}

.card-name {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 7px;
}

.card-descr {
    font-size: 13px;
    font-weight: 400;
    margin: 0;
}

.card-details {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 0;
}

.card-weight {
    font-size: 20px;
    color: var(--color-grey-dark);
    margin: 0;
}

.card-price {
    font-size: 36px;
    font-weight: 700;
    color: var(--color-blue);    
    margin: 0;
}

#about-us {
    padding-top: 70px;
}

.about-section {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.rounded {
    border-radius: 20px;
}

.about-inf {
    margin-right: 35px;
}

.shops-section {
    margin-top: 70px;
}

.shop-cards {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    flex-wrap:wrap;
}

.shop-card {
    border-radius: 20px;
    box-shadow: 0px 0px 21px 6px rgba(116,116,116,0.1);
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 42px;
    height: 442px;   
    width: 455px; 
}

.shop-image {
    border-radius: 20px 20px 0 0;
    height: 369px;   
    width: 455px; 
}

.shop-name {
    font-size: 20px;
    font-weight: 400;
    color: var(--color-purple);
    margin: 21px;
}

.center {
    text-align: center;
}

.reviews-section {
    margin-top: 49px;
}

.review-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    overflow: hidden;
    margin-left: -28px;
    margin-right: -28px;
    padding: 0 28px 28px 28px;
}

.review-card {
    border: solid;
    border-radius: 20px;
    border-color: var(--color-purple);
    padding: 14px 21px 14px 21px;
    width: 427px;
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 28px;
}

.review-inf {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.review-name {
    font-size: 21px;
    color: var(--color-purple);
    margin: 0;
}

.review-rating {
    height: 21px;
}

.review-text {
    font-size: 14px;
    color: var(--color-black);
    margin: 0;
}

.footer {
    background-color: var(--color-purple);
    padding: 35px;
    color: var(--color-white);
    font-size: 14px;
}

.tap-here, .tap-here:focus {
    color: var(--color-white)
}

.footer-sections {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content:flex-start;
}

.footer-sections-end {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content:space-between;
}

.footer-social-media {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-social-media>a {
    margin: 14px 14px 14px 0;
}
.footer a {
    color: var(--color-blue-light);
    font-weight: 700;
}

.newsletter {

}

.newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
}

.newsletter-input, .newsletter-input:focus {
    width: 301px;
    padding: 14px;
    margin: 7px 7px 7px 0;
    background-color: var(--color-purple);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: var(--color-grey-light);
    border-radius: 14px;
    border: 1px solid var(--color-grey-light);
    outline: 0;
}

.newsletter-input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: var(--color-grey-light);
}

.newsletter-button {
    width: 168px;
    padding: 14px;
    background-color: var(--color-blue-light);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: var(--color-white);
    border: 1px solid var(--color-blue);
    border-radius: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}

.footer-section>a {
    margin-top: 7px;
}

.footer-section {
    margin: 0;
    margin-right: 70px;
    display: flex;
    flex-direction:column;
    align-items: start;
    justify-content:flex-start;
}

.footer-navigation {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content:space-between;
}

.footer-navigation>.footer-section {
    margin-right: 70px;
}

.footer-sched>p {
    margin-top: 7px;
}

.copyright {
    text-align: end;
}

.title {
    margin-bottom: 35px;
    text-align: center;
}

.filters {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}

.main-filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 6px;
}

.filter {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 35px;
    padding: 0px;
}

.filter-button {
    color: var(--color-purple);
    background-color: var(--color-background);
    border-radius: 20px;
    border: 2px solid var(--color-purple);
    margin: 3px;
    padding: 7px 14px 7px 14px;
    font-size: 14px;
    font-weight: 600;
}

.drink {
    color: var(--color-blue);
    border-color: var(--color-blue);

}

.search {
    
}

.search-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    width: 196px;
    padding: 7px 28px 7px 14px;
    margin: 3px;
    background-color: var(--color-background);
    border-radius: 20px;
    border: 2px solid var(--color-grey-light);
}

.search-input, .search-input:focus {
    outline: 0;
    font-size: 14px;
    font-weight: 600;
    color: var(--color-grey-dark);
    border: none;
}

.search-button {

}

.menu-cards-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-left: -28px;
    margin-right: -28px;
    padding: 10px;
}

.menu-cards-container .card-container {
    margin-top: 14px;
    margin-bottom: 14px;
}

.cont {
    display: flex;
    justify-content: center;
}

.cont-button {
    
}























.carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 2px solid #ccc;
    border-radius: 10px;
}

.thumbnail-row-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.thumbnail-row {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    width: 300px; /* ширина видимой части миниатюр */
    padding: 5px 0;
}

.thumbnail {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin: 0 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: border 0.3s ease;
}

.thumbnail:hover {
    border: 2px solid #007bff;
}

/* Скрываем ползунок для всех браузеров */
.thumbnail-row::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.arrow {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    user-select: none;
}

.left-arrow {
    margin-right: 10px;
}

.right-arrow {
    margin-left: 10px;
}

.arrow:focus {
    outline: none;
}

